body {
    background-color: black;
    font-size: 16px;
    text-align: center;
}

h1 {
    color: white;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions {
    color: white;
    font-family: Arial, sans-serif, serif;
    font-weight: bold;
    text-align: center;
    width: 505px;
}

.winnerMessage {
    border-color: blue;
    border-radius: 8px;
    border-style: solid;
    font-family: Arial, sans-serif, serif;
    font-size: 24px;
    font-weight: bolder;
}

.winButtons {
    width: auto;
}

.nextGame {
    margin: 0 10px 0 10px;
}

.close {
    margin: 0 10px 0 10px;
}